---
import Banner from "../../../components/Banner.vue";
import Catalog from "../../../components/Catalog.vue";
import Features from "../../../components/Features.vue";
import MainLayout from "../../../layouts/MainLayout.astro";
import Pagination from "../../../components/Pagination.vue";
import Sidebar from "../../../components/layout/Sidebar.vue"
import Showing from "../../../components/Showing.vue";
import { useCategories } from "../../../composables/useCategories";
import { useProducts } from "../../../composables/useProducts";

export async function getStaticPaths (): Promise<object> {
    let routes: object[] = [];
    const { categories, getCategories } = useCategories();
    const { products, getProductsByCategory } = useProducts();

    await getCategories();

    if(categories.value !== null && categories.value.length > 0){
    categories.value.forEach((categoryName): void =>{
        routes.push({
            params: {category: categoryName}
        });
    });
    }

    return routes;
}

const {category} = Astro.params;
---
<MainLayout>
    <Banner/>
    <Showing/>
    <div class="grid grid-cols-4 gap-4">
        <div>
            <Sidebar/>
        </div>
        <div class="grid grid-cols-subgrid gap-4 col-span-3">
            <Catalog category={category}/>
        </div>
    </div>

    <Pagination category={category}/>
    <Features/>
</MainLayout>