---
import MainLayout from "../layouts/MainLayout.astro"
---
<MainLayout>

    <div class="relative w-full gap-4 flex flex-col items-center z-20 px-8">
            <img alt="promo discount" src="/special-offer.webp" class="w-fit" loading="lazy">
    </div>
</MainLayout>
