---
import Banner from "../components/Banner.vue";
import Catalog from "../components/Catalog.vue";
import Features from "../components/Features.vue";
import MainLayout from "../layouts/MainLayout.astro";
import Sidebar from "../components/layout/Sidebar.vue"
import Showing from "../components/Showing.vue";
---
<MainLayout>
   <Banner/>
   <Showing/>
   <div class="grid grid-cols-4 gap-4">
      <div>
         <Sidebar/>
      </div>
      <div class="grid grid-cols-subgrid gap-4 col-span-3">
         <Catalog/>
      </div>
   </div>


   <Features/>
</MainLayout>
