---
import Header from "../components/layout/Header.vue";
import Footer from "../components/layout/Footer.vue";
import Sidebar from "../components/layout/Sidebar.vue";
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>Store</title>
</head>
<body>

<Header/>

<slot/>

<div class="container mx-auto px-0">
    <div class="grid grid-cols-5 gap-6">
        <div>
            <Sidebar/>
        </div>
        <div class="col-span-4">
            CONTENT
        </div>
    </div>
</div>

<Footer/>
</body>
</html>