---
import Header from "../components/layout/Header.vue";
import Footer from "../components/layout/Footer.vue";
import Sidebar from "../components/layout/Sidebar.vue";
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>Store</title>
</head>
<body>

<Header/>

<slot/>

<Footer/>
</body>
</html>